*{
	margin: 0;
	padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
	background-size: 100% 100%;
	background: url("../image/bg/2.jpg") 100% 100% no-repeat fixed;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: scroll;
	min-width: 1300px;
}
#container{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
#container>img{
    filter: blur(3px) brightness(70%);

}
#container #second{
	width: 75%;
	height: 60%;
	position: absolute;
	left: 16%;
	top: 25%;

}

#second #second_right{
	width: 70%;
	height: 100%;
	display: inline-block;
}
#second #second_right .rotation_chart{
	height: 100%;
	width: 100%;
	position: relative;
}
#second #second_right .rotation_chart img{
	height: 100%;
	width: 100%;
	position: absolute;
	left:0 ;
	right: 0;
	display: inline-block;
	transition: 1s;
}
#second #second_bottom .two{
    height: 170px;
    width: 190px;
    border: 1px solid;
    position: absolute;
    left: 87%;
    bottom: -12%;
}
#second #second_bottom .two img{
	height: 100%;
	width: 100%;
	position: absolute;
	left:0 ;
	right: 0;
	display: inline-block;

}
#second #second_bottom .two img:nth-child(1){
	-webkit-animation: scaleDraw 5s ease-in-out infinite;
}
@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
            0%{
                transform: scale(1);  /*开始为原始大小*/
            }
            25%{
                transform: scale(1.1); /*放大1.1倍*/
            }
            50%{
                transform: scale(1);
            }
            75%{
                transform: scale(1.1);
            }
}

#second #second_left{
    margin-left: 0;
    position: relative;
    width: 15%;
    height: 100%;
	display: inline-block;
	margin-right: 6%;
	background-image: url(../image/font-img/bg.png);
	background-size: 100%  100%;
    font-family: m_zt,"sans-serif";
}

#second #second_left span{
	float: left;
	width: 30px;
	font-size: 25px;
	position: absolute;
	writing-mode: vertical-lr;
	font-family: sans-serif;
	
}
#second #second_left span:nth-child(1){
	position: absolute;
	top: 100px;
	left: 50px;

}
#second #second_left span:nth-child(2){
	position: absolute;
	bottom: 85px;
	left: 100px;
}
#title {
	position: absolute;
	padding: 2px;
	right: 2%;
	top: 9%;
	font-size: 64px;
	color: #8a0b15;
	font-family: title,"sans-serif";
	/*border: 1px solid #ece3e3eb;*/
	text-align: center;
}
@font-face{
	font-family: m_zt;
	src: url('mZt.ttf');
}
@font-face {
	font-family: title;
	src:url("../source/HYShangWeiShouShuW.ttf");
}
@keyframes change-img {
	0%{opacity: 0}
	100%{opacity: 1}
}
#all_second{
	margin-top: 10px;
	height: 1080px;
	width: 100%;
	position: relative;
}
#all_second_next{
	position: absolute;
	width: 100%;
	height: 90%;
	left: 0;
	top: 12%;
}
#all_second_next:after{
    content: '';
    display: block;
    clear: both;
}
#all_second_next div[class="second_top"]{
	float: right;
	height: 28%;
	width: 100%;
	display: inline-block;
	margin-top: 0;

}
#all_second_next img[class="second_top"]
{
	float: left;
	height: 270px;
	width: 45%;
	display: inline-block;
	margin-top: 0;
}

#all_second_next img{
    width: 18%;
    height: 270px;
    margin-top: 2%;
    margin-left: 4%;
    border-radius: 5px;
}
#all_second_next span{
	float: left;
	display: inline-block;
	width: 1em;
	font-size: 22px;
	border-right: 1px solid;
	padding-left: 14px;
	padding-top: 0;
	padding-right: 20px;
	margin-left: 16px;
}
#all_second_next span:nth-child(1){
	font-size: 40px;
	margin-right: 50px;
	border: none;
}

