#first{
	position: absolute;	
	width: 80%;
	height: 70%;
	left: 7%;
	top: 10%;
	background-repeat: no-repeat;
	background-size: 150px;
	transition: 1s;

}
#first #hanzi table{
	height: 150px;
	width: 150px;
	border-spacing: 0;
	border:1px solid;
}
#first #hanzi table td{	
	border:1px solid gray;
	
}
#first #progress{
	position: relative;
	height: 100%;
	width: 100%;
}
#first #progress #top{
	width: 0;
	border: 2px solid #8a0b15;
	position: absolute;
	background-color: #8a0b15;
	left: 150px;
	top: -75px;
}
#first #progress #left{
	height: 0;
	width: 0;
	border:2px solid #8a0b15;
	background-color: #8a0b15;
	position: absolute;
	left: 75px;
}